Bucket1/Flow1.snapshot
{
  "header" : {
    "dataModelVersion" : "2"
  },
  "content" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "estrazione del codice cpv",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "a481d640-7d5a-3a4c-8d92-1635bb1f7cc6",
        "name" : "Estrae COD_CPV",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "359171ac-06eb-3b25-a696-eae1163bc7d9",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "l'espressione jsonpath estrae i soli elementi dell'array CPV che hanno flag_prevalente=1",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "11e7e358-5dbb-3ddd-a0e5-104b4d1fac39",
        "name" : "Estrazione CPV",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Compone il json da inviare ad Elastic\n\n\n{\"cig\":\"${cig}\",\n\"cig_kkk\":\"${cig:substring(${cig:length():minus(3)})}\",\n\"cf_amministrazione_appaltante\":\"${cf_amministrazione_appaltante}\",\n\"denom_amministrazione_appaltante\":\"${denom_amministrazione_appaltante}\",\n\"cf_operatore_economico\":\"${cf_operatore_economico}\",\n\"denominazione_operatore_economico\":\"${denominazione_operatore_economico}\",\n\"oggetto_lotto\":\"${oggetto_lotto}\",\n\"cod_cpv\":\"${cod_cpv}\"\n}",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "c4b560e1-79d0-3f29-800a-57e37e0a7062",
        "name" : "Compose Json",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "222cac74-a5e2-3fa5-a16a-53437efb4b56",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "c9675f4a-97f5-32e4-ae86-628f19d18b37",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "elimina i cig precedenti al 2007",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "ebfd39a1-243d-3837-b08e-bd6841ba9999",
        "name" : "RouteOnAnnoPubblicazione",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "21c44ecc-f5b0-36e7-afaf-3b4f2f019c8c",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "viene estratto l'anno pubblicazione al fine di partizionare gli indici",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "255edf67-8c19-3d7c-a133-2b928ab75f3e",
        "name" : "ExtractDataPubblicazione",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "estrae il contenuto del file in input",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "76e09b9f-f8cd-3af0-b84e-59886b75aa8e",
        "name" : "Fetch File Content",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "7c4a669d-129c-387f-a2c8-572e0c8a0997",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "estrae la lista dei file nel path specificato",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "a906a180-25d9-3e26-801b-7ee0da6f9520",
        "name" : "Estrae Lista File",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Estrae CF e Denominazione degli aggiudicatari",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "aa8bce8a-0161-33a5-b721-3dd776f3c660",
        "name" : "Extract CF/DENOM Aggiudicatario",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "34c42181-f25c-3a4e-8cc4-e08be0d35592",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "vengono estratti i soli elementi dell'array partecipanti che hanno riferimento ad un'aggiudicazione",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "63cae780-1af5-3cb7-9604-19201317d004",
        "name" : "Estrae Aggiudicatari",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "viene estratto l'anno pubblicazione al fine di partizionare gli indici",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "255edf67-8c19-3d7c-a133-2b928ab75f3e",
        "name" : "ExtractDataPubblicazione",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "e257c2cf-f364-3e1e-8caf-25034dbe70ad",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "vengono estratti i campi principali dell'appalto dalla scheda in input",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "867624c0-1a57-381c-81a1-3096ffb199cd",
        "name" : "Estrazione dati da scheda",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "97395bf0-d87a-3a74-a903-57abf2c3dd74",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "17899226-e8b5-30eb-915e-8e18a7be84cb",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Compone il json da inviare ad Elastic\n\n\n{\"cig\":\"${cig}\",\n\"cig_kkk\":\"${cig:substring(${cig:length():minus(3)})}\",\n\"cf_amministrazione_appaltante\":\"${cf_amministrazione_appaltante}\",\n\"denom_amministrazione_appaltante\":\"${denom_amministrazione_appaltante}\",\n\"cf_operatore_economico\":\"${cf_operatore_economico}\",\n\"denominazione_operatore_economico\":\"${denominazione_operatore_economico}\",\n\"oggetto_lotto\":\"${oggetto_lotto}\",\n\"cod_cpv\":\"${cod_cpv}\"\n}",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "c4b560e1-79d0-3f29-800a-57e37e0a7062",
        "name" : "Compose Json",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "34f4d486-c72c-312e-abf5-7f25e81a3490",
        "name" : "PutElasticsearchHttp",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "ff5e666d-df13-3d40-b617-dfaa557b1bf1",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "2" ],
      "source" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "06f59beb-9a2e-31aa-aaa9-36b05917ec27",
        "name" : "DistributeLoad",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "l'espressione jsonpath estrae i soli elementi dell'array CPV che hanno flag_prevalente=1",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "11e7e358-5dbb-3ddd-a0e5-104b4d1fac39",
        "name" : "Estrazione CPV",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "667609c0-2b1e-35e9-9532-29c170f30d33",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "avanti" ],
      "source" : {
        "comments" : "elimina i cig precedenti al 2007",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "ebfd39a1-243d-3837-b08e-bd6841ba9999",
        "name" : "RouteOnAnnoPubblicazione",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 2,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "split del risultato in singoli flowfile",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "a5a39062-75d8-359d-af56-fbe3e9eca42b",
        "name" : "Split",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "e2a201c8-e29f-3ac9-ae42-245f4b3c1f8d",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "sql" ],
      "source" : {
        "comments" : "estrae la scheda dal file parquet in input mediante i controller service specificati",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "2ed559e8-3942-3d47-a1e6-84d60b908151",
        "name" : "QueryScheda",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Compone il json da inviare ad Elastic\n\n\n{\"cig\":\"${cig}\",\n\"cig_kkk\":\"${cig:substring(${cig:length():minus(3)})}\",\n\"cf_amministrazione_appaltante\":\"${cf_amministrazione_appaltante}\",\n\"denom_amministrazione_appaltante\":\"${denom_amministrazione_appaltante}\",\n\"cf_operatore_economico\":\"${cf_operatore_economico}\",\n\"denominazione_operatore_economico\":\"${denominazione_operatore_economico}\",\n\"oggetto_lotto\":\"${oggetto_lotto}\",\n\"cod_cpv\":\"${cod_cpv}\"\n}",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "c4b560e1-79d0-3f29-800a-57e37e0a7062",
        "name" : "Compose Json",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "52a29cd9-e663-3f08-873f-f3e56bf7f884",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "compone come lista di valori, l'insieme di tutti i cf degli aggiudicatari e denominazioni, inserendoli in un attributo ",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "0a6ce332-9e91-3289-8dad-6364e9075cf6",
        "name" : "CF/Denom to Attribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "compone come lista di valori, l'insieme di tutti i cf degli aggiudicatari e denominazioni, inserendoli in un attributo ",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "0a6ce332-9e91-3289-8dad-6364e9075cf6",
        "name" : "CF/Denom to Attribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "cc870520-517b-3ad3-a984-eefa82c07b72",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "Estrae CF e Denominazione degli aggiudicatari",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "aa8bce8a-0161-33a5-b721-3dd776f3c660",
        "name" : "Extract CF/DENOM Aggiudicatario",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 100000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "208fb0d3-f6b7-3d94-94a8-3439a487d8e2",
        "name" : "ConvertAvroToJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "d3d6bbdc-c500-3b8c-a4c1-d8e8d87c9e85",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "split" ],
      "source" : {
        "comments" : "split del risultato in singoli flowfile",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "a5a39062-75d8-359d-af56-fbe3e9eca42b",
        "name" : "Split",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "06f59beb-9a2e-31aa-aaa9-36b05917ec27",
        "name" : "DistributeLoad",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "49260911-dd31-3959-a560-1559b1c4aa39",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "9c469345-0dd1-33b6-8f54-6b458f10006d",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "e368febe-a55d-3b26-a345-0e20a2dc835a",
        "name" : "PutElasticsearchHttp",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "9f9c6b93-71d4-3974-bbb3-afcc80c1077c",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "9c469345-0dd1-33b6-8f54-6b458f10006d",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -588.0,
        "y" : 1256.0
      }, {
        "x" : -764.0,
        "y" : 1256.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "c41b7c30-f918-34d2-a6bf-673d227c1392",
        "name" : "PutElasticsearchHttp",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "5473afe9-12c8-3e51-82aa-7e179c6ef33f",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "retry" ],
      "source" : {
        "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "c41b7c30-f918-34d2-a6bf-673d227c1392",
        "name" : "PutElasticsearchHttp",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "la scheda viene rimessa nel content del flowfile",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "3c000e81-a9d9-3c43-b8b6-3afa9b1ed53d",
        "name" : "Replace Scheda to Content",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "95282093-2a7e-3bb3-907c-d0fe49c4360a",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "estrazione del codice cpv",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "a481d640-7d5a-3a4c-8d92-1635bb1f7cc6",
        "name" : "Estrae COD_CPV",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "9c469345-0dd1-33b6-8f54-6b458f10006d",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "afdb89e3-9fd0-3df3-ab92-288ef4d89d51",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "97395bf0-d87a-3a74-a903-57abf2c3dd74",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1080.103042602539,
        "y" : 754.9479370117188
      }, {
        "x" : -1072.103042602539,
        "y" : 874.9479370117188
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "34f4d486-c72c-312e-abf5-7f25e81a3490",
        "name" : "PutElasticsearchHttp",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "2121c296-369a-3952-8ddb-29acf8fad9ee",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "retry" ],
      "source" : {
        "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "34f4d486-c72c-312e-abf5-7f25e81a3490",
        "name" : "PutElasticsearchHttp",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "estrae il contenuto del campo scheda dal risultato nel content",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "c255cdf6-3958-36d9-9a42-513fc3ba39e1",
        "name" : "EvaluateContentScheda",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "6a510008-938d-3883-b5f5-13a53f185109",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "estrae il contenuto del campo scheda dal risultato in attributo",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "d3cd4838-f126-32d4-b3c8-760d16ecfcb3",
        "name" : "EvaluateAttributeScheda",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 2,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "estrae la scheda dal file parquet in input mediante i controller service specificati",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "2ed559e8-3942-3d47-a1e6-84d60b908151",
        "name" : "QueryScheda",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "0098d07b-78dc-3e69-8497-eb67aa06f618",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "estrae il contenuto del file in input",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "76e09b9f-f8cd-3af0-b84e-59886b75aa8e",
        "name" : "Fetch File Content",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "c20807d3-3ac6-3e5a-b07f-a1172ea4462c",
        "name" : "PutElasticsearchHttp",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "5c360f94-9efe-3257-b467-bdf3ca4ca90b",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "1" ],
      "source" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "06f59beb-9a2e-31aa-aaa9-36b05917ec27",
        "name" : "DistributeLoad",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "vengono estratti i campi principali dell'appalto dalla scheda in input",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "867624c0-1a57-381c-81a1-3096ffb199cd",
        "name" : "Estrazione dati da scheda",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "7d336088-e8bf-3dda-b755-2dac9d99e6d9",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "52a8ca1c-51a5-3980-a5cc-b4fe714be484",
        "name" : "fromLiv2Appalti",
        "type" : "INPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 257.36009216308594,
        "y" : 1341.4130249023438
      }, {
        "x" : 33.36009216308594,
        "y" : 1341.4130249023438
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "e368febe-a55d-3b26-a345-0e20a2dc835a",
        "name" : "PutElasticsearchHttp",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "8a8fc730-7f5f-305c-8061-ad2d29376e45",
      "labelIndex" : 0,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "retry" ],
      "source" : {
        "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "e368febe-a55d-3b26-a345-0e20a2dc835a",
        "name" : "PutElasticsearchHttp",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "vengono estratti i soli elementi dell'array partecipanti che hanno riferimento ad un'aggiudicazione",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "63cae780-1af5-3cb7-9604-19201317d004",
        "name" : "Estrae Aggiudicatari",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "cdf59ddd-231d-38ea-ba5a-824875c16503",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "la scheda viene rimessa nel content del flowfile",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "3c000e81-a9d9-3c43-b8b6-3afa9b1ed53d",
        "name" : "Replace Scheda to Content",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "estrae il contenuto del campo scheda dal risultato in attributo",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "d3cd4838-f126-32d4-b3c8-760d16ecfcb3",
        "name" : "EvaluateAttributeScheda",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "73323c3b-ea0e-3617-b08e-3a78c1487f53",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "208fb0d3-f6b7-3d94-94a8-3439a487d8e2",
        "name" : "ConvertAvroToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 100000,
      "bends" : [ {
        "x" : -715.6263732910156,
        "y" : 341.1099853515625
      }, {
        "x" : -579.6263732910156,
        "y" : 341.1099853515625
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "c20807d3-3ac6-3e5a-b07f-a1172ea4462c",
        "name" : "PutElasticsearchHttp",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "af0e0504-cd7c-3f0e-b569-3a8be85c4edd",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "retry" ],
      "source" : {
        "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "c20807d3-3ac6-3e5a-b07f-a1172ea4462c",
        "name" : "PutElasticsearchHttp",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "4e6d7ffa-090d-34e8-9496-4ab5ba57b3ef",
        "name" : "LogMessage",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "f07bfe0b-3d3f-30af-932e-04497213369c",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "e368febe-a55d-3b26-a345-0e20a2dc835a",
        "name" : "PutElasticsearchHttp",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "vengono estratti i campi principali dell'appalto dalla scheda in input",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "867624c0-1a57-381c-81a1-3096ffb199cd",
        "name" : "Estrazione dati da scheda",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "26a37f80-8a63-3e1c-b8ad-5f84ba5570df",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "estrae il contenuto del campo scheda dal risultato nel content",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "c255cdf6-3958-36d9-9a42-513fc3ba39e1",
        "name" : "EvaluateContentScheda",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "c41b7c30-f918-34d2-a6bf-673d227c1392",
        "name" : "PutElasticsearchHttp",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "871edb0c-6550-3590-b0b0-0471a536c3d5",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "3" ],
      "source" : {
        "comments" : "",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "06f59beb-9a2e-31aa-aaa9-36b05917ec27",
        "name" : "DistributeLoad",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Compone il json da inviare ad Elastic\n\n\n{\"cig\":\"${cig}\",\n\"cig_kkk\":\"${cig:substring(${cig:length():minus(3)})}\",\n\"cf_amministrazione_appaltante\":\"${cf_amministrazione_appaltante}\",\n\"denom_amministrazione_appaltante\":\"${denom_amministrazione_appaltante}\",\n\"cf_operatore_economico\":\"${cf_operatore_economico}\",\n\"denominazione_operatore_economico\":\"${denominazione_operatore_economico}\",\n\"oggetto_lotto\":\"${oggetto_lotto}\",\n\"cod_cpv\":\"${cod_cpv}\"\n}",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "c4b560e1-79d0-3f29-800a-57e37e0a7062",
        "name" : "Compose Json",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "24a37058-c3ce-3b9c-89cf-fdf7970ddb60",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "Estrae CF e Denominazione degli aggiudicatari",
        "groupId" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
        "id" : "aa8bce8a-0161-33a5-b721-3dd776f3c660",
        "name" : "Extract CF/DENOM Aggiudicatario",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.11.4"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "289a7a46-80db-387b-9a91-6ec9399e3604",
      "name" : "AvroRecordSetWriter",
      "properties" : {
        "compression-format" : "NONE",
        "Schema Write Strategy" : "avro-embedded",
        "schema-name" : "${schema.name}",
        "cache-size" : "1000",
        "schema-registry" : "1150a3fb-1fc9-3bf9-9a0c-93a339033b8e",
        "schema-access-strategy" : "inherit-record-schema",
        "encoder-pool-size" : "32",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "compression-format" : {
          "displayName" : "Compression Format",
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "cache-size" : {
          "displayName" : "Cache Size",
          "identifiesControllerService" : false,
          "name" : "cache-size",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "encoder-pool-size" : {
          "displayName" : "Encoder Pool Size",
          "identifiesControllerService" : false,
          "name" : "encoder-pool-size",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.avro.AvroRecordSetWriter"
    }, {
      "bundle" : {
        "artifact" : "nifi-parquet-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.11.4"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "c79ac37b-6ad2-3d47-bcd1-f1cd2077fc44",
      "name" : "Appalti_ParquetReader",
      "properties" : {
        "avro-read-compatibility" : "true"
      },
      "propertyDescriptors" : {
        "avro-read-compatibility" : {
          "displayName" : "Avro Read Compatibility",
          "identifiesControllerService" : false,
          "name" : "avro-read-compatibility",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.parquet.ParquetReader"
    }, {
      "bundle" : {
        "artifact" : "nifi-registry-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.11.4"
        },
        "type" : "org.apache.nifi.schemaregistry.services.SchemaRegistry"
      } ],
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "1150a3fb-1fc9-3bf9-9a0c-93a339033b8e",
      "name" : "AvroSchemaRegistry",
      "properties" : {
        "avro-reg-validated-field-names" : "false"
      },
      "propertyDescriptors" : {
        "avro-reg-validated-field-names" : {
          "displayName" : "Validate Field Names",
          "identifiesControllerService" : false,
          "name" : "avro-reg-validated-field-names",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.schemaregistry.services.AvroSchemaRegistry"
    } ],
    "funnels" : [ ],
    "identifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
    "inputPorts" : [ {
      "comments" : "",
      "componentType" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "52a8ca1c-51a5-3980-a5cc-b4fe714be484",
      "name" : "fromLiv2Appalti",
      "position" : {
        "x" : 912.0,
        "y" : -840.0
      },
      "type" : "INPUT_PORT"
    } ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "height" : 208.0,
      "identifier" : "25e9e3aa-d2d9-3ace-8a09-01266387f1f0",
      "label" : "FULL LOAD",
      "position" : {
        "x" : 416.0,
        "y" : -1544.0
      },
      "style" : {
        "font-size" : "18px"
      },
      "width" : 328.0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "height" : 208.0,
      "identifier" : "ad4592cf-3e45-37fa-b170-a47569b966db",
      "label" : "ORDINARY LOAD",
      "position" : {
        "x" : 832.0,
        "y" : -952.0
      },
      "style" : {
        "background-color" : "#b8e0c2",
        "font-size" : "18px"
      },
      "width" : 328.0
    } ],
    "name" : "Elastic",
    "outputPorts" : [ ],
    "position" : {
      "x" : 984.0,
      "y" : 152.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "dd444a50-a975-3229-8a4f-c340bfd90f7e",
          "id" : "85f349e2-d8a8-3926-ad03-eab8e64fc2b7",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "dd444a50-a975-3229-8a4f-c340bfd90f7e",
        "identifier" : "ebb808be-4e89-3101-b86f-6921852cf075",
        "labelIndex" : 1,
        "name" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "dd444a50-a975-3229-8a4f-c340bfd90f7e",
          "id" : "012c5e6e-7bc5-3194-b429-2e141a909ab8",
          "name" : "GenerateFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "funnels" : [ ],
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "dd444a50-a975-3229-8a4f-c340bfd90f7e",
      "inputPorts" : [ ],
      "labels" : [ ],
      "name" : "Prova",
      "outputPorts" : [ ],
      "position" : {
        "x" : -96.0,
        "y" : -1552.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.11.4"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "dd444a50-a975-3229-8a4f-c340bfd90f7e",
        "identifier" : "012c5e6e-7bc5-3194-b429-2e141a909ab8",
        "name" : "GenerateFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 208.0,
          "y" : 96.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "File Size" : "0B",
          "Batch Size" : "1",
          "Unique FlowFiles" : "false",
          "Data Format" : "Text"
        },
        "propertyDescriptors" : {
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "File Size" : {
            "displayName" : "File Size",
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "generate-ff-custom-text" : {
            "displayName" : "Custom Text",
            "identifiesControllerService" : false,
            "name" : "generate-ff-custom-text",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "10000 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "success" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.11.4"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "dd444a50-a975-3229-8a4f-c340bfd90f7e",
        "identifier" : "85f349e2-d8a8-3926-ad03-eab8e64fc2b7",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 784.0,
          "y" : 88.0
        },
        "properties" : {
          "character-set" : "windows-1252",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "variables" : { }
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "06f59beb-9a2e-31aa-aaa9-36b05917ec27",
      "name" : "DistributeLoad",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 32.0,
        "y" : 744.0
      },
      "properties" : {
        "Number of Relationships" : "3",
        "Distribution Strategy" : "round robin"
      },
      "propertyDescriptors" : {
        "Number of Relationships" : {
          "displayName" : "Number of Relationships",
          "identifiesControllerService" : false,
          "name" : "Number of Relationships",
          "sensitive" : false
        },
        "Distribution Strategy" : {
          "displayName" : "Distribution Strategy",
          "identifiesControllerService" : false,
          "name" : "Distribution Strategy",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.DistributeLoad",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-elasticsearch-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "c20807d3-3ac6-3e5a-b07f-a1172ea4462c",
      "name" : "PutElasticsearchHttp",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -832.0,
        "y" : 488.0
      },
      "properties" : {
        "elasticsearch-http-response-timeout" : "15 secs",
        "put-es-id-attr" : "cig",
        "put-es-type" : "_doc",
        "put-es-index" : "${anno_pubblicazione:prepend('appalti_')}",
        "elasticsearch-http-url" : "url del primo nodo elastic\n(i.e. http://10.121.172.148:9200/)",
        "put-es-batch-size" : "5000",
        "elasticsearch-http-connect-timeout" : "5 secs",
        "put-es-index-op" : "upsert",
        "Character Set" : "UTF-8"
      },
      "propertyDescriptors" : {
        "elasticsearch-http-response-timeout" : {
          "displayName" : "Response Timeout",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-response-timeout",
          "sensitive" : false
        },
        "put-es-id-attr" : {
          "displayName" : "Identifier Attribute",
          "identifiesControllerService" : false,
          "name" : "put-es-id-attr",
          "sensitive" : false
        },
        "put-es-type" : {
          "displayName" : "Type",
          "identifiesControllerService" : false,
          "name" : "put-es-type",
          "sensitive" : false
        },
        "put-es-index" : {
          "displayName" : "Index",
          "identifiesControllerService" : false,
          "name" : "put-es-index",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "elasticsearch-http-url" : {
          "displayName" : "Elasticsearch URL",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-url",
          "sensitive" : false
        },
        "put-es-batch-size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "put-es-batch-size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "elasticsearch-http-connect-timeout" : {
          "displayName" : "Connection Timeout",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-connect-timeout",
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "put-es-index-op" : {
          "displayName" : "Index Operation",
          "identifiesControllerService" : false,
          "name" : "put-es-index-op",
          "sensitive" : false
        },
        "elasticsearch-http-proxy-host" : {
          "displayName" : "Proxy Host",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-proxy-host",
          "sensitive" : false
        },
        "proxy-username" : {
          "displayName" : "Proxy Username",
          "identifiesControllerService" : false,
          "name" : "proxy-username",
          "sensitive" : false
        },
        "proxy-password" : {
          "displayName" : "Proxy Password",
          "identifiesControllerService" : false,
          "name" : "proxy-password",
          "sensitive" : true
        },
        "elasticsearch-http-proxy-port" : {
          "displayName" : "Proxy Port",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-proxy-port",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "30 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "l'espressione jsonpath estrae i soli elementi dell'array CPV che hanno flag_prevalente=1",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "11e7e358-5dbb-3ddd-a0e5-104b4d1fac39",
      "name" : "Estrazione CPV",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 856.0,
        "y" : -320.0
      },
      "properties" : {
        "Destination" : "flowfile-content",
        "Return Type" : "json",
        "CPV" : "$.BANDO.CPV[?(@.FLAG_PREVALENTE==1)]",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "CPV" : {
          "displayName" : "CPV",
          "identifiesControllerService" : false,
          "name" : "CPV",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "comms.failure", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-hadoop-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "estrae il contenuto del file in input",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "76e09b9f-f8cd-3af0-b84e-59886b75aa8e",
      "name" : "Fetch File Content",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 888.0,
        "y" : -1464.0
      },
      "properties" : {
        "HDFS Filename" : "/user/hive/warehouse/appalti_last_version/${filename}",
        "Hadoop Configuration Resources" : "/opt/apache/nifi/1.11.4/conf/core-site.xml, /opt/apache/nifi/1.11.4/conf/hdfs-site.xml",
        "Compression codec" : "NONE",
        "Kerberos Relogin Period" : "4 hours"
      },
      "propertyDescriptors" : {
        "HDFS Filename" : {
          "displayName" : "HDFS Filename",
          "identifiesControllerService" : false,
          "name" : "HDFS Filename",
          "sensitive" : false
        },
        "Hadoop Configuration Resources" : {
          "displayName" : "Hadoop Configuration Resources",
          "identifiesControllerService" : false,
          "name" : "Hadoop Configuration Resources",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "Kerberos Keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "Kerberos Keytab",
          "sensitive" : false
        },
        "Additional Classpath Resources" : {
          "displayName" : "Additional Classpath Resources",
          "identifiesControllerService" : false,
          "name" : "Additional Classpath Resources",
          "sensitive" : false
        },
        "Kerberos Principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "Kerberos Principal",
          "sensitive" : false
        },
        "Compression codec" : {
          "displayName" : "Compression codec",
          "identifiesControllerService" : false,
          "name" : "Compression codec",
          "sensitive" : false
        },
        "Kerberos Relogin Period" : {
          "displayName" : "Kerberos Relogin Period",
          "identifiesControllerService" : false,
          "name" : "Kerberos Relogin Period",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.hadoop.FetchHDFS",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-avro-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "208fb0d3-f6b7-3d94-94a8-3439a487d8e2",
      "name" : "ConvertAvroToJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1536.0,
        "y" : -1032.0
      },
      "properties" : {
        "JSON container options" : "none",
        "Wrap Single Record" : "false"
      },
      "propertyDescriptors" : {
        "JSON container options" : {
          "displayName" : "JSON container options",
          "identifiesControllerService" : false,
          "name" : "JSON container options",
          "sensitive" : false
        },
        "Wrap Single Record" : {
          "displayName" : "Wrap Single Record",
          "identifiesControllerService" : false,
          "name" : "Wrap Single Record",
          "sensitive" : false
        },
        "Avro schema" : {
          "displayName" : "Avro schema",
          "identifiesControllerService" : false,
          "name" : "Avro schema",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.avro.ConvertAvroToJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-elasticsearch-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "e368febe-a55d-3b26-a345-0e20a2dc835a",
      "name" : "PutElasticsearchHttp",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 16.0,
        "y" : 1048.0
      },
      "properties" : {
        "elasticsearch-http-response-timeout" : "15 secs",
        "put-es-id-attr" : "cig",
        "put-es-type" : "_doc",
        "put-es-index" : "anac",
        "elasticsearch-http-url" : "http://127.0.0.1:9200/",
        "put-es-batch-size" : "5000",
        "elasticsearch-http-connect-timeout" : "5 secs",
        "put-es-index-op" : "index",
        "Character Set" : "UTF-8"
      },
      "propertyDescriptors" : {
        "elasticsearch-http-response-timeout" : {
          "displayName" : "Response Timeout",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-response-timeout",
          "sensitive" : false
        },
        "put-es-id-attr" : {
          "displayName" : "Identifier Attribute",
          "identifiesControllerService" : false,
          "name" : "put-es-id-attr",
          "sensitive" : false
        },
        "put-es-type" : {
          "displayName" : "Type",
          "identifiesControllerService" : false,
          "name" : "put-es-type",
          "sensitive" : false
        },
        "put-es-index" : {
          "displayName" : "Index",
          "identifiesControllerService" : false,
          "name" : "put-es-index",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "elasticsearch-http-url" : {
          "displayName" : "Elasticsearch URL",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-url",
          "sensitive" : false
        },
        "put-es-batch-size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "put-es-batch-size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "elasticsearch-http-connect-timeout" : {
          "displayName" : "Connection Timeout",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-connect-timeout",
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "put-es-index-op" : {
          "displayName" : "Index Operation",
          "identifiesControllerService" : false,
          "name" : "put-es-index-op",
          "sensitive" : false
        },
        "elasticsearch-http-proxy-host" : {
          "displayName" : "Proxy Host",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-proxy-host",
          "sensitive" : false
        },
        "proxy-username" : {
          "displayName" : "Proxy Username",
          "identifiesControllerService" : false,
          "name" : "proxy-username",
          "sensitive" : false
        },
        "proxy-password" : {
          "displayName" : "Proxy Password",
          "identifiesControllerService" : false,
          "name" : "proxy-password",
          "sensitive" : true
        },
        "elasticsearch-http-proxy-port" : {
          "displayName" : "Proxy Port",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-proxy-port",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "30 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "Compone il json da inviare ad Elastic\n\n\n{\"cig\":\"${cig}\",\n\"cig_kkk\":\"${cig:substring(${cig:length():minus(3)})}\",\n\"cf_amministrazione_appaltante\":\"${cf_amministrazione_appaltante}\",\n\"denom_amministrazione_appaltante\":\"${denom_amministrazione_appaltante}\",\n\"cf_operatore_economico\":\"${cf_operatore_economico}\",\n\"denominazione_operatore_economico\":\"${denominazione_operatore_economico}\",\n\"oggetto_lotto\":\"${oggetto_lotto}\",\n\"cod_cpv\":\"${cod_cpv}\"\n}",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "c4b560e1-79d0-3f29-800a-57e37e0a7062",
      "name" : "Compose Json",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1264.0,
        "y" : 736.0
      },
      "properties" : {
        "Regular Expression" : "(?s)(^.*$)",
        "Replacement Value" : "{\"els_cig\":\"1234567DCE\",\n\"els_cig_kkk\":\"1234567\",\n\"els_cf_amministrazione_appaltante\":\"ZCCLGU79D13D086O\",\n\"els_denominazione_amministrazione_appaltante\":\"Zuccarelli Luigi SPA\"\n}",
        "Evaluation Mode" : "Entire text",
        "Line-by-Line Evaluation Mode" : "All",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Always Replace"
      },
      "propertyDescriptors" : {
        "Regular Expression" : {
          "displayName" : "Search Value",
          "identifiesControllerService" : false,
          "name" : "Regular Expression",
          "sensitive" : false
        },
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Line-by-Line Evaluation Mode" : {
          "displayName" : "Line-by-Line Evaluation Mode",
          "identifiesControllerService" : false,
          "name" : "Line-by-Line Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "c9675f4a-97f5-32e4-ae86-628f19d18b37",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1576.0,
        "y" : 1088.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "100000 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "viene estratto l'anno pubblicazione al fine di partizionare gli indici",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "255edf67-8c19-3d7c-a133-2b928ab75f3e",
      "name" : "ExtractDataPubblicazione",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 248.0,
        "y" : -576.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100",
        "anno_pubblicazione" : "${data_pubblicazione:isEmpty():ifElse('1900',${data_pubblicazione:substring(0,4)})}"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "anno_pubblicazione" : {
          "displayName" : "anno_pubblicazione",
          "identifiesControllerService" : false,
          "name" : "anno_pubblicazione",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "estrae la scheda dal file parquet in input mediante i controller service specificati",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "2ed559e8-3942-3d47-a1e6-84d60b908151",
      "name" : "QueryScheda",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1536.0,
        "y" : -1464.0
      },
      "properties" : {
        "cache-schema" : "true",
        "record-writer" : "289a7a46-80db-387b-9a91-6ec9399e3604",
        "record-reader" : "c79ac37b-6ad2-3d47-bcd1-f1cd2077fc44",
        "include-zero-record-flowfiles" : "true",
        "sql" : "Select scheda from FLOWFILE"
      },
      "propertyDescriptors" : {
        "cache-schema" : {
          "displayName" : "Cache Schema",
          "identifiesControllerService" : false,
          "name" : "cache-schema",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "include-zero-record-flowfiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "identifiesControllerService" : false,
          "name" : "include-zero-record-flowfiles",
          "sensitive" : false
        },
        "sql" : {
          "displayName" : "sql",
          "identifiesControllerService" : false,
          "name" : "sql",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "vengono estratti i soli elementi dell'array partecipanti che hanno riferimento ad un'aggiudicazione",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "63cae780-1af5-3cb7-9604-19201317d004",
      "name" : "Estrae Aggiudicatari",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1536.0,
        "y" : 248.0
      },
      "properties" : {
        "PARTECIPANTI" : "$.PARTECIPANTI[?(@.FLAG_AGGIUDICATARIO>1)]",
        "Destination" : "flowfile-content",
        "Return Type" : "json",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "PARTECIPANTI" : {
          "displayName" : "PARTECIPANTI",
          "identifiesControllerService" : false,
          "name" : "PARTECIPANTI",
          "sensitive" : false
        },
        "Destination" : {
          "displayName" : "Destination",
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "97395bf0-d87a-3a74-a903-57abf2c3dd74",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 792.0,
        "y" : 1088.0
      },
      "properties" : {
        "cig" : "2",
        "filename" : "luigi_elastic_nifi",
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100"
      },
      "propertyDescriptors" : {
        "cig" : {
          "displayName" : "cig",
          "identifiesControllerService" : false,
          "name" : "cig",
          "sensitive" : false
        },
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "filename" : {
          "displayName" : "filename",
          "identifiesControllerService" : false,
          "name" : "filename",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "vengono estratti i campi principali dell'appalto dalla scheda in input",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "867624c0-1a57-381c-81a1-3096ffb199cd",
      "name" : "Estrazione dati da scheda",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 856.0,
        "y" : -576.0
      },
      "properties" : {
        "cig" : "$.BANDO.CIG",
        "data_pubblicazione" : "$.PUBBLICAZIONI.DATA_PUBBLICAZIONE",
        "Destination" : "flowfile-attribute",
        "oggetto_lotto" : "$.BANDO.OGGETTO_LOTTO",
        "cf_amministrazione_appaltante" : "$.STAZIONE_APPALTANTE.CF_AMMINISTRAZIONE_APPALTANTE",
        "Return Type" : "json",
        "denominazione_amministrazione_appaltante" : "$.STAZIONE_APPALTANTE.DENOMINAZIONE_AMMINISTRAZIONE_APPALTANTE",
        "importo_lotto" : "$.BANDO.IMPORTO_LOTTO",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "cig" : {
          "displayName" : "cig",
          "identifiesControllerService" : false,
          "name" : "cig",
          "sensitive" : false
        },
        "data_pubblicazione" : {
          "displayName" : "data_pubblicazione",
          "identifiesControllerService" : false,
          "name" : "data_pubblicazione",
          "sensitive" : false
        },
        "Destination" : {
          "displayName" : "Destination",
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "oggetto_lotto" : {
          "displayName" : "oggetto_lotto",
          "identifiesControllerService" : false,
          "name" : "oggetto_lotto",
          "sensitive" : false
        },
        "cf_amministrazione_appaltante" : {
          "displayName" : "cf_amministrazione_appaltante",
          "identifiesControllerService" : false,
          "name" : "cf_amministrazione_appaltante",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "denominazione_amministrazione_appaltante" : {
          "displayName" : "denominazione_amministrazione_appaltante",
          "identifiesControllerService" : false,
          "name" : "denominazione_amministrazione_appaltante",
          "sensitive" : false
        },
        "importo_lotto" : {
          "displayName" : "importo_lotto",
          "identifiesControllerService" : false,
          "name" : "importo_lotto",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-elasticsearch-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "c41b7c30-f918-34d2-a6bf-673d227c1392",
      "name" : "PutElasticsearchHttp",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -840.0,
        "y" : 976.0
      },
      "properties" : {
        "elasticsearch-http-response-timeout" : "15 secs",
        "put-es-id-attr" : "cig",
        "put-es-type" : "_doc",
        "put-es-index" : "${anno_pubblicazione:prepend('appalti_')}",
        "elasticsearch-http-url" : "url del terzo nodo elastic\n(i.e. http://10.121.172.148:9200/)",
        "put-es-batch-size" : "5000",
        "elasticsearch-http-connect-timeout" : "5 secs",
        "put-es-index-op" : "upsert",
        "Character Set" : "UTF-8"
      },
      "propertyDescriptors" : {
        "elasticsearch-http-response-timeout" : {
          "displayName" : "Response Timeout",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-response-timeout",
          "sensitive" : false
        },
        "put-es-id-attr" : {
          "displayName" : "Identifier Attribute",
          "identifiesControllerService" : false,
          "name" : "put-es-id-attr",
          "sensitive" : false
        },
        "put-es-type" : {
          "displayName" : "Type",
          "identifiesControllerService" : false,
          "name" : "put-es-type",
          "sensitive" : false
        },
        "put-es-index" : {
          "displayName" : "Index",
          "identifiesControllerService" : false,
          "name" : "put-es-index",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "elasticsearch-http-url" : {
          "displayName" : "Elasticsearch URL",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-url",
          "sensitive" : false
        },
        "put-es-batch-size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "put-es-batch-size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "elasticsearch-http-connect-timeout" : {
          "displayName" : "Connection Timeout",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-connect-timeout",
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "put-es-index-op" : {
          "displayName" : "Index Operation",
          "identifiesControllerService" : false,
          "name" : "put-es-index-op",
          "sensitive" : false
        },
        "elasticsearch-http-proxy-host" : {
          "displayName" : "Proxy Host",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-proxy-host",
          "sensitive" : false
        },
        "proxy-username" : {
          "displayName" : "Proxy Username",
          "identifiesControllerService" : false,
          "name" : "proxy-username",
          "sensitive" : false
        },
        "proxy-password" : {
          "displayName" : "Proxy Password",
          "identifiesControllerService" : false,
          "name" : "proxy-password",
          "sensitive" : true
        },
        "elasticsearch-http-proxy-port" : {
          "displayName" : "Proxy Port",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-proxy-port",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "30 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-elasticsearch-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "inserisce il documento in  input nell'indice elastic, usando la metodologia UPSERT",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "34f4d486-c72c-312e-abf5-7f25e81a3490",
      "name" : "PutElasticsearchHttp",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -832.0,
        "y" : 720.0
      },
      "properties" : {
        "elasticsearch-http-response-timeout" : "15 secs",
        "put-es-id-attr" : "cig",
        "put-es-type" : "_doc",
        "put-es-index" : "${anno_pubblicazione:prepend('appalti_')}",
        "elasticsearch-http-url" : "url del secondo nodo elastic\n(i.e. http://10.121.172.148:9200/)",
        "put-es-batch-size" : "5000",
        "elasticsearch-http-connect-timeout" : "5 secs",
        "put-es-index-op" : "upsert",
        "Character Set" : "UTF-8"
      },
      "propertyDescriptors" : {
        "elasticsearch-http-response-timeout" : {
          "displayName" : "Response Timeout",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-response-timeout",
          "sensitive" : false
        },
        "put-es-id-attr" : {
          "displayName" : "Identifier Attribute",
          "identifiesControllerService" : false,
          "name" : "put-es-id-attr",
          "sensitive" : false
        },
        "put-es-type" : {
          "displayName" : "Type",
          "identifiesControllerService" : false,
          "name" : "put-es-type",
          "sensitive" : false
        },
        "put-es-index" : {
          "displayName" : "Index",
          "identifiesControllerService" : false,
          "name" : "put-es-index",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "elasticsearch-http-url" : {
          "displayName" : "Elasticsearch URL",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-url",
          "sensitive" : false
        },
        "put-es-batch-size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "put-es-batch-size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "elasticsearch-http-connect-timeout" : {
          "displayName" : "Connection Timeout",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-connect-timeout",
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "put-es-index-op" : {
          "displayName" : "Index Operation",
          "identifiesControllerService" : false,
          "name" : "put-es-index-op",
          "sensitive" : false
        },
        "elasticsearch-http-proxy-host" : {
          "displayName" : "Proxy Host",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-proxy-host",
          "sensitive" : false
        },
        "proxy-username" : {
          "displayName" : "Proxy Username",
          "identifiesControllerService" : false,
          "name" : "proxy-username",
          "sensitive" : false
        },
        "proxy-password" : {
          "displayName" : "Proxy Password",
          "identifiesControllerService" : false,
          "name" : "proxy-password",
          "sensitive" : true
        },
        "elasticsearch-http-proxy-port" : {
          "displayName" : "Proxy Port",
          "identifiesControllerService" : false,
          "name" : "elasticsearch-http-proxy-port",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "30 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-avro-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "split del risultato in singoli flowfile",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "a5a39062-75d8-359d-af56-fbe3e9eca42b",
      "name" : "Split",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1536.0,
        "y" : -1256.0
      },
      "properties" : {
        "Split Strategy" : "Record",
        "Output Strategy" : "Datafile",
        "Transfer Metadata" : "false",
        "Output Size" : "1"
      },
      "propertyDescriptors" : {
        "Split Strategy" : {
          "displayName" : "Split Strategy",
          "identifiesControllerService" : false,
          "name" : "Split Strategy",
          "sensitive" : false
        },
        "Output Strategy" : {
          "displayName" : "Output Strategy",
          "identifiesControllerService" : false,
          "name" : "Output Strategy",
          "sensitive" : false
        },
        "Transfer Metadata" : {
          "displayName" : "Transfer Metadata",
          "identifiesControllerService" : false,
          "name" : "Transfer Metadata",
          "sensitive" : false
        },
        "Output Size" : {
          "displayName" : "Output Size",
          "identifiesControllerService" : false,
          "name" : "Output Size",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.avro.SplitAvro",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "estrazione del codice cpv",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "a481d640-7d5a-3a4c-8d92-1635bb1f7cc6",
      "name" : "Estrae COD_CPV",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1536.0,
        "y" : -320.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "cod_cpv" : "$[0].COD_CPV",
        "Return Type" : "scalar",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "cod_cpv" : {
          "displayName" : "cod_cpv",
          "identifiesControllerService" : false,
          "name" : "cod_cpv",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "4e6d7ffa-090d-34e8-9496-4ab5ba57b3ef",
      "name" : "LogMessage",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -480.0,
        "y" : 1272.0
      },
      "properties" : {
        "log-level" : "info"
      },
      "propertyDescriptors" : {
        "log-message" : {
          "displayName" : "Log message",
          "identifiesControllerService" : false,
          "name" : "log-message",
          "sensitive" : false
        },
        "log-level" : {
          "displayName" : "Log Level",
          "identifiesControllerService" : false,
          "name" : "log-level",
          "sensitive" : false
        },
        "log-prefix" : {
          "displayName" : "Log prefix",
          "identifiesControllerService" : false,
          "name" : "log-prefix",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogMessage",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "la scheda viene rimessa nel content del flowfile",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "3c000e81-a9d9-3c43-b8b6-3afa9b1ed53d",
      "name" : "Replace Scheda to Content",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1536.0,
        "y" : -24.0
      },
      "properties" : {
        "Regular Expression" : "(?s)(^.*$)",
        "Replacement Value" : "${scheda}",
        "Evaluation Mode" : "Entire text",
        "Line-by-Line Evaluation Mode" : "All",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Always Replace"
      },
      "propertyDescriptors" : {
        "Regular Expression" : {
          "displayName" : "Search Value",
          "identifiesControllerService" : false,
          "name" : "Regular Expression",
          "sensitive" : false
        },
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Line-by-Line Evaluation Mode" : {
          "displayName" : "Line-by-Line Evaluation Mode",
          "identifiesControllerService" : false,
          "name" : "Line-by-Line Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "estrae il contenuto del campo scheda dal risultato nel content",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "c255cdf6-3958-36d9-9a42-513fc3ba39e1",
      "name" : "EvaluateContentScheda",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1536.0,
        "y" : -576.0
      },
      "properties" : {
        "Destination" : "flowfile-content",
        "Return Type" : "auto-detect",
        "Null Value Representation" : "empty string",
        "scheda" : "$.scheda.bytes",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "scheda" : {
          "displayName" : "scheda",
          "identifiesControllerService" : false,
          "name" : "scheda",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "estrae il contenuto del campo scheda dal risultato in attributo",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "d3cd4838-f126-32d4-b3c8-760d16ecfcb3",
      "name" : "EvaluateAttributeScheda",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1536.0,
        "y" : -784.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "Return Type" : "auto-detect",
        "Null Value Representation" : "empty string",
        "scheda" : "$.scheda.bytes",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "scheda" : {
          "displayName" : "scheda",
          "identifiesControllerService" : false,
          "name" : "scheda",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "Estrae CF e Denominazione degli aggiudicatari",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "aa8bce8a-0161-33a5-b721-3dd776f3c660",
      "name" : "Extract CF/DENOM Aggiudicatario",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1536.0,
        "y" : 472.0
      },
      "properties" : {
        "Enable Unicode Predefined Character Classes" : "false",
        "Permit Whitespace and Comments in Pattern" : "false",
        "Enable Unicode-aware Case Folding" : "false",
        "Enable DOTALL Mode" : "false",
        "Enable Unix Lines Mode" : "false",
        "Maximum Buffer Size" : "1 MB",
        "Enable Canonical Equivalence" : "false",
        "Enable Case-insensitive Matching" : "false",
        "denom_operatore_economico" : "(?<=DENOMINAZIONE\":\")(.*?)(?=\")",
        "Enable Multiline Mode" : "false",
        "Maximum Capture Group Length" : "10000",
        "Enable Literal Parsing of the Pattern" : "false",
        "cf_operatore_economico" : "(?<=CODICE_FISCALE\":\")(.*?)(?=\")",
        "Character Set" : "UTF-8",
        "Include Capture Group 0" : "true",
        "extract-text-enable-repeating-capture-group" : "true"
      },
      "propertyDescriptors" : {
        "Enable Unicode Predefined Character Classes" : {
          "displayName" : "Enable Unicode Predefined Character Classes",
          "identifiesControllerService" : false,
          "name" : "Enable Unicode Predefined Character Classes",
          "sensitive" : false
        },
        "Permit Whitespace and Comments in Pattern" : {
          "displayName" : "Permit Whitespace and Comments in Pattern",
          "identifiesControllerService" : false,
          "name" : "Permit Whitespace and Comments in Pattern",
          "sensitive" : false
        },
        "Enable Unicode-aware Case Folding" : {
          "displayName" : "Enable Unicode-aware Case Folding",
          "identifiesControllerService" : false,
          "name" : "Enable Unicode-aware Case Folding",
          "sensitive" : false
        },
        "Enable DOTALL Mode" : {
          "displayName" : "Enable DOTALL Mode",
          "identifiesControllerService" : false,
          "name" : "Enable DOTALL Mode",
          "sensitive" : false
        },
        "Enable Unix Lines Mode" : {
          "displayName" : "Enable Unix Lines Mode",
          "identifiesControllerService" : false,
          "name" : "Enable Unix Lines Mode",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Enable Canonical Equivalence" : {
          "displayName" : "Enable Canonical Equivalence",
          "identifiesControllerService" : false,
          "name" : "Enable Canonical Equivalence",
          "sensitive" : false
        },
        "Enable Case-insensitive Matching" : {
          "displayName" : "Enable Case-insensitive Matching",
          "identifiesControllerService" : false,
          "name" : "Enable Case-insensitive Matching",
          "sensitive" : false
        },
        "denom_operatore_economico" : {
          "displayName" : "denom_operatore_economico",
          "identifiesControllerService" : false,
          "name" : "denom_operatore_economico",
          "sensitive" : false
        },
        "Enable Multiline Mode" : {
          "displayName" : "Enable Multiline Mode",
          "identifiesControllerService" : false,
          "name" : "Enable Multiline Mode",
          "sensitive" : false
        },
        "Maximum Capture Group Length" : {
          "displayName" : "Maximum Capture Group Length",
          "identifiesControllerService" : false,
          "name" : "Maximum Capture Group Length",
          "sensitive" : false
        },
        "Enable Literal Parsing of the Pattern" : {
          "displayName" : "Enable Literal Parsing of the Pattern",
          "identifiesControllerService" : false,
          "name" : "Enable Literal Parsing of the Pattern",
          "sensitive" : false
        },
        "cf_operatore_economico" : {
          "displayName" : "cf_operatore_economico",
          "identifiesControllerService" : false,
          "name" : "cf_operatore_economico",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Include Capture Group 0" : {
          "displayName" : "Include Capture Group 0",
          "identifiesControllerService" : false,
          "name" : "Include Capture Group 0",
          "sensitive" : false
        },
        "extract-text-enable-repeating-capture-group" : {
          "displayName" : "Enable repeating capture group",
          "identifiesControllerService" : false,
          "name" : "extract-text-enable-repeating-capture-group",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExtractText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "9c469345-0dd1-33b6-8f54-6b458f10006d",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 672.0,
        "y" : 736.0
      },
      "properties" : {
        "filename" : "${filename:prepend(${cig:append('_')})}",
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "filename" : {
          "displayName" : "filename",
          "identifiesControllerService" : false,
          "name" : "filename",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-hadoop-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "estrae la lista dei file nel path specificato",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "a906a180-25d9-3e26-801b-7ee0da6f9520",
      "name" : "Estrae Lista File",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 296.0,
        "y" : -1456.0
      },
      "properties" : {
        "Hadoop Configuration Resources" : "/opt/apache/nifi/1.11.4/conf/core-site.xml, /opt/apache/nifi/1.11.4/conf/hdfs-site.xml",
        "Recurse Subdirectories" : "true",
        "file-filter-mode" : "filter-mode-files-only",
        "File Filter" : "[^\\.].*",
        "Kerberos Relogin Period" : "4 hours",
        "Directory" : "/user/hive/warehouse/appalti_last_version"
      },
      "propertyDescriptors" : {
        "Hadoop Configuration Resources" : {
          "displayName" : "Hadoop Configuration Resources",
          "identifiesControllerService" : false,
          "name" : "Hadoop Configuration Resources",
          "sensitive" : false
        },
        "maximum-file-age" : {
          "displayName" : "Maximum File Age",
          "identifiesControllerService" : false,
          "name" : "maximum-file-age",
          "sensitive" : false
        },
        "Additional Classpath Resources" : {
          "displayName" : "Additional Classpath Resources",
          "identifiesControllerService" : false,
          "name" : "Additional Classpath Resources",
          "sensitive" : false
        },
        "Distributed Cache Service" : {
          "displayName" : "Distributed Cache Service",
          "identifiesControllerService" : true,
          "name" : "Distributed Cache Service",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "file-filter-mode" : {
          "displayName" : "File Filter Mode",
          "identifiesControllerService" : false,
          "name" : "file-filter-mode",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "Kerberos Keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "Kerberos Keytab",
          "sensitive" : false
        },
        "Kerberos Principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "Kerberos Principal",
          "sensitive" : false
        },
        "Kerberos Relogin Period" : {
          "displayName" : "Kerberos Relogin Period",
          "identifiesControllerService" : false,
          "name" : "Kerberos Relogin Period",
          "sensitive" : false
        },
        "minimum-file-age" : {
          "displayName" : "Minimum File Age",
          "identifiesControllerService" : false,
          "name" : "minimum-file-age",
          "sensitive" : false
        },
        "Directory" : {
          "displayName" : "Directory",
          "identifiesControllerService" : false,
          "name" : "Directory",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.hadoop.ListHDFS",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "compone come lista di valori, l'insieme di tutti i cf degli aggiudicatari e denominazioni, inserendoli in un attributo ",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "0a6ce332-9e91-3289-8dad-6364e9075cf6",
      "name" : "CF/Denom to Attribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1832.0,
        "y" : 736.0
      },
      "properties" : {
        "denom_operatore_economico" : "${allMatchingAttributes(\"denom_operatore_economico.(?:[1-9])|(?:[0-9])+\"):replace('\"',''):join(\"\\n\")}",
        "Delete Attributes Expression" : "cf_operatore_economico.(?:[0-9])+|denom_operatore_economico.(?:[0-9])+|scheda(.)(?:[0-9])|scheda",
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100",
        "cf_operatore_economico" : "${allMatchingAttributes(\"cf_operatore_economico.(?:[1-9])|(?:[0-9])+\"):replace('\"',''):join(\"\\n\")}"
      },
      "propertyDescriptors" : {
        "denom_operatore_economico" : {
          "displayName" : "denom_operatore_economico",
          "identifiesControllerService" : false,
          "name" : "denom_operatore_economico",
          "sensitive" : false
        },
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "cf_operatore_economico" : {
          "displayName" : "cf_operatore_economico",
          "identifiesControllerService" : false,
          "name" : "cf_operatore_economico",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "unmatched" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.11.4"
      },
      "comments" : "elimina i cig precedenti al 2007",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 2,
      "executionNode" : "ALL",
      "groupIdentifier" : "7a43a977-ce20-30aa-a73b-9e09213a998a",
      "identifier" : "ebfd39a1-243d-3837-b08e-bd6841ba9999",
      "name" : "RouteOnAnnoPubblicazione",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 248.0,
        "y" : -312.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "avanti" : "${anno_pubblicazione:gt(2006)}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "avanti" : {
          "displayName" : "avanti",
          "identifiesControllerService" : false,
          "name" : "avanti",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "variables" : { }
  }
}